.accordeon-block {
    background: url(../img/accordeon-background.png) center center/ cover no-repeat;
}


.accordeon-block__menu {
    display: flex;

    @include phones {
        width: 100%;
        justify-content: flex-end;
    }
}

.accordeon-block__title {
    font-family: AlegreyaSans;
    font-size: rem(48px);
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: rem(79px);
    top: rem(99px);

    @include tablets {
        left: rem(40px);
    }
}

.accordeon-container {
    height: 100%;
    justify-content: flex-end;
    max-width: unset;
    width: 100%;
}

.accordeon-list__item {
    display: flex;
    height: 100vh;
    position: relative;
    align-items: flex-end;
    
    @include phones {

        &.accordeon-list__item-active {
            width: 100%;
            position: absolute;
            z-index: 162;
        }
    }
    
}

.accordeon-item__trigger {
    width: rem(100px);
    display: flex;
    background-position: left bottom;
    background-size: cover;
    padding-bottom: 30%;
    height: 100%;
    align-items: flex-end;
    background: center center / cover no-repeat;
    position: relative;
    z-index: 2;

     @include tablets {
         width: rem(80px);
     }
}

.accordeon-item__trigger-absolute {
    width: rem(100px);
    display: flex;
    background-position: left bottom;
    background-size: cover;
    padding-bottom: 30%;
    height: 100%;
    align-items: flex-end;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background: center center / cover no-repeat;

    @include tablets {
        width: rem(80px);
    }

}

.accordeon-item__title {
      font-size: rem(48px);
      text-decoration: none;
      font-family: AlegreyaSans;
      color: #fff;
      transform: rotate(-90deg);
      white-space: nowrap;
      width: 100%;
      height: rem(60px);
      position: absolute;
      bottom: 20px;

}

.accordeon-item__content-wrap {
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: 1s;

}

.accordeon-list__item-active .accordeon-item__content-wrap {
    width: rem(630px);

    @include tablets {
        width: calc(100vw - 5.5555555556);
    }

     @include phones {
         width: calc(100vw - 4.4444444444);
     }
}

.accordeon-item__content {
    height: 100%;
    background-color: rgba(51, 53, 55, .93);
    position: relative;
    overflow: hidden;
    transition: 1s;
    z-index: 1;
    min-width: rem(630px);
    width: rem(630px);

    @include tablets {
        width: calc(100vw - 5.5555555556);
    }

    @include phones {
        width: calc(100vw - 4.4444444444);
    }

}

.accordeon-item__close {
    position: absolute;
    right: rem(32px);
    top: rem(26px);
    text-decoration: none;
    color: white;
    z-index: 2;
}

.accordeon-item__content-text {
   overflow: hidden;
   padding: rem(50px) rem(127px) rem(50px) rem(27px);

   @include tablets {
       padding: rem(50px);
   }

   @include phones {
       width: calc(100vw - 4.4444444444rem);
   }
}