

.team-block__container {
    flex-direction: column;
    align-items: center;

}

.team-block__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    @include tablets {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.team-block__member {
    width: 24%;
    position: relative;
    text-align: center;

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        max-width: rem(242px);
        width: 100%;
    }

}

.team-block__title {
    font-size: rem(48px);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: rem(58px);

    @include phones {
        font-size: rem(36px);
    }

}

.team-block__photo {
    @include tablets {
        display: none;
    }
}

.team-block__description-photo {
    display: none;

    @include tablets {
        display: block;
        width: rem(222px);
        height: rem(288px);
        overflow: hidden;
        margin: 0 auto;
    }
}

.team-block__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-block__name {
   font-size: rem(21px);
   font-weight: bold;
   line-height: 1.2;
   text-align: center;
   margin-bottom: 13px;
   white-space: nowrap;
}

.team-block__name-button {
    margin-left: 10px;
}

.team-block__description {
    display: none;

    @include phones {
        width: 100%;
        
    }
    

}

.team-block__name.description-opened + .team-block__description {
    display: block;


        @include phones {
            width: 100%;
        }
}


.team-block__description-job {
    text-align: center;
    margin-bottom: 6px;
    font-size: rem(18px);
    line-height: 1.2;
    font-weight: bold;

}



.team-block__description__about {
    text-align: center;
    font-size: rem(18px);
    font-family: "Alegreya Sans Light";
    color: rgb(102, 102, 102);
    line-height: 1.2;

    @include tablets {
        padding: 0;
    }

}

.arrow-active {
    transform: rotate(180deg);
}