.header {
    margin-top: 5px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    height: 73px;
    width: 100%;
    align-items: center;
    padding: 0;
    
}

.header__nav {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.667;
    color: rgb(255, 255, 255);
    list-style: none;
    width: 670px;
    height: 100%;
}

.header__nav a {
    text-decoration: none;
    list-style: none
}


.header__phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    height: 68px;
}

.phonetext {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.25;

}

a {
    text-decoration: none;
}

.phonesvg {
    fill: white;
}

.headev__nav-item {
    margin-right: 30px;
    font-size: 18px;
    font-family: "Alegreya Sans";
    color: rgb(255, 255, 255);
    line-height: 1.667;

    &:last-child {
        margin-right: 0;
    }
}

.О_нас_________Батончики_________Команда________ {

    text-align: right;
    position: absolute;
    left: 175.969px;
    top: 59.322px;
    z-index: 410;
}
