.why-chocko-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 650px;
    position: relative;

    &:before {
        position: absolute;
        content: url('img/halfleaf.png');
        left: 0;
        bottom: 140px;
    }
    
    &:after {
        position: absolute;
        content: url('img/малина.png');
        left: 0;
        bottom: -110px;
    }
}

.why-chocko-block__inner:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 210px;
    
  
}

.why-chocko-block__inner:last-child {
    display: flex;
    width: 100%;
    height: 340px;
    justify-content: center;
    
}

.why-chocko-block__reason {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.why-chocko-block__reason:nth-child(2) {
    width: 50%;
}

.reasonsvg {

}

.circle-bg {
    display: flex;
    height: 120px;
    width: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f2f5f4;
    margin-top: 30px;
}