$black:#000000;


body {
    font-family: "Alegreya Sans Light", sans-serif;
}

h1 {
    font-size: 48px;
    font-family: "Alegreya Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;

}

p {
    font-size: 21px;
    font-family: "Alegreya Sans";
    color: rgb(255, 255, 255);
    text-align: left;
}


.inner-footer__p {
    font-size: 16px;
    margin-left: 10px;
}

.whychocko {
    font-size: 48px;
    font-family: "Alegreya Sans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: -15px;

}

.blackp {
    font-size: 18px;
    font-family: "Alegreya Sans";
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: center;
    margin-bottom: -1px;
}

.reason__h3 {
    font-size: 27px;
    font-family: "Alegreya Sans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin-bottom: -9px;

}

.reason__p {
    font-size: 18px;
    font-family: "Alegreya Sans Light";
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: center;

}




