.footer-block-container {
    display: flex;
    align-items: center;

    @include tablets {
        width: 60%;
    }

    @include phones {
        flex-direction: column;
    }

}

.footer-block {
    width: 100%;
}

.footer-block__map {
    background: url('../img/map.png') center center / cover no-repeat; 
    width: 100%;
    height: 100%;
}

.footer-block__contacts {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: rem(93px);
    background: white;
}

.footer-block__adress {
    @include phones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer-block__adress-street {
    font-size: 21px;
    font-family: "Alegreya Sans";
    color: $black;
    line-height: 1.143;
    text-align: left;
    white-space: nowrap;


}

.footer-bock__adress-phone {
    color: rgb(54, 90, 73);


}


.footer-block__adress-phone-icon {
    width: 12px;
    height: 11px;
    fill: #000000;

}


.footer-block__adress-phone-text {
    font-size: 21px;
    font-family: "Alegreya Sans";
    color: rgb(54, 90, 73);
    text-transform: uppercase;
    line-height: 1.429;
    text-align: left;
    font-weight: bold;

}

.footer-block__medias {
    display: flex;
    margin-left: rem(550px);

    @include tablets {
        margin-left: rem(150px);
    }

    @include phones {
        margin-left: 0;
    }

}

.footer-block__medias-item {
    margin-right: 5px;

    &:last-child {
        margin-right: 0;
    }
}

.footer-block__medias-icon {
    width: 23px;
    height: 13px;
    fill: gray;

    &:active {
        fill: black;
    }
}

