.menu {
    margin: 0 30px;
    @include tablets {
        display: none;
    }
}

.header__phone.header__phone-number {
    @include tablets {
        display: none;
    }
}

.header {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    width: 100%;
    align-items: flex-start;

    @include tablets {
        position: absolute;
        top: 0;
        left: rem(26px);
    }
}

.header__nav {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 28px;
    line-height: 1.667;
    list-style: none;


}

.header__nav a {
    text-decoration: none;
    list-style: none
}


.header__phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;

}


.header__phone-icon {
    width: 12px;
    height: 11px;
    margin-right: 6px;
    fill: #ffffff;
    stroke-width: 1;
    flex-shrink: 0;
}

.header__phone-text {
    font-size: 24px;
    color: inherit;
    white-space: nowrap;

}

.headev__nav-item {
    margin-right: 29px;
    font-size: 18px;
    font-family: "Alegreya Sans";
    line-height: 1.667;
    color: inherit;
    white-space: nowrap;
    margin-bottom: 10px;

    &:last-child {
        margin-right: 0;
    }
}
