.header {
    color: #ffffff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    height: 73px;
    width: 100%;
    align-items: center;
    padding: 0;
    
}

.header__nav {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.667;
    list-style: none;
    width: 670px;
    height: 100%;
    margin-left: 40px;
    margin-right: 10px;
}

.header__nav a {
    text-decoration: none;
    list-style: none
}


.header__phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;

}


.header__phone-icon {
    height: 12px;
    width: 12px;
    margin-right: 6px;
}

.header__phone-image {
    min-width: 100%;
    display: block;
}

.header__phone-text {
    font-size: 24px;
    color: inherit;
}

.headev__nav-item {
    margin-right: 29px;
    font-size: 18px;
    font-family: "Alegreya Sans";
    line-height: 1.667;
    color: inherit;

    &:last-child {
        margin-right: 0;
    }
}
