.modal {
   position: absolute;
   right: 40%;
   z-index: 1005001;
   display: none;
   top: 40%;

    &.error-modal {
        .modal__content {
            color: red;
        }
    }

    &.fancybox-content {
        padding: 0 !important;
    }

    .fancybox-button {
        display: none;
    }
}

.modal__container {
    background: #fff;
    padding: 35px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__content {
    margin-bottom: 15px;
    color: #000;
}


.error-modal {
    color: red;
    font-weight: bold;
}

