.reviews_block {


    &:before {
        position: absolute;
        content: url('../img/strawberry.png');
        right: 15px;
        top: rem(33px);  
    }

}

.reviews {
    display: flex;
    justify-content: center;

}

.reviews_block-container {
    display: flex;
    flex-direction: column;
}

.reviews__display {
    display: flex;
    justify-content: center;
    background: #F8FAF9;
    padding: rem(50px) rem(45px) rem(34px);
    overflow: hidden;
    position: relative;
    max-width: rem(940px);

    &:before {
        content: "";
        width: rem(90px);
        height: rem(90px);
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: rem(-65px);
    }

    &:after {
        content: url('../img/reviewberrys.png');
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        }
    
        @include tablets {
            padding: rem(60px) rem(20px) rem(34px);
            margin-bottom: rem(70px);
        }
}

.reviews__title {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-family: "Alegreya Sans";
    color: $black;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 20px;


}

.reviews__list {
    position: relative;
    min-height: rem(345px);

}

.reviews__item {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 5%;
    pointer-events: none;
    transition: .3s;
    opacity: 0;

    @include tablets {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.reviews__item-active {
    position: static;
    opacity: 1;
    pointer-events: unset;
    display: flex;
    justify-content: center;
}

.reviews__avatar {
    width: rem(254px);
    height: rem(260px);
    z-index: 100500;

    @include tablets {
        width: rem(138px);
        height: rem(145px);
    }
}

.reviews__text {
        margin-bottom: rem(30px);
}

.reviews__textstyle {
    font-size: 18px;
    font-family: "Alegreya Sans";
    color: rgb(102, 102, 102);
    line-height: 1.2;
    position: relative;
    z-index: 2;


    @include tablets {
        width: 100%;
        text-align: center;
    }
}

.reviews__author {
    font-size: 18px;
    font-family: "Alegreya Sans Medium";
    line-height: 1.2;
    font-weight: bold;
    position: relative;


}


.reviews__avatar-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.interactive-avatar__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.reviews__content {
    flex: 1;
    margin-left: rem(20px);
    padding-top: 15px;

    @include tablets {
        width: 95%;
        margin-left: 0;
    }
}

.interactive-avatar {
    width: rem(70px);
    height: rem(70px);
    border: 6px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    @include tablets {
        width: rem(100px);
        height: rem(100px);
    }

    &:active {
        border-color: #365a49;
    }

}

.interactive-avatar.active {
    border: 6px solid transparent;
    border-color: #365a49;
}

.interactive-avatar__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

.interactive-avatar__block {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reviews__switcher {
    display: flex;
    justify-content: center;
    padding-left: 15px;
    margin: 0;
    margin-top: 15px;
}

.reviews__switcher-item {
    position: relative;

    &:before {
        content: url('../img/bubbles.png');
        position: absolute;
        top: 10%;
        right: 10%;

        @include phones {
            display: none;
        }
    }
}


.reviews__content-title {
    font-size: 30px;
    font-weight: bold;
    font-family: "Alegreya Sans";
    line-height: 1.2;
    margin-bottom: rem(22px);
    position: relative;
    z-index: 1;
}
