.team-block__container {
    flex-direction: column;
    align-items: center;

}

.team-block__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-block__member {
    display: flex;
    flex-direction: column;
    margin-right: rem(15px);

    &:last-child {
        margin-right: 0;
    }
}

.team-block__title {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;

}



.team-block__name {
   font-size: 21px;
   font-weight: bold;
   line-height: 1.2;
   text-align: center;
   margin-bottom: 13px;
}

.team-block__name-button {
    margin-left: 10px;
}

.team-block__description {
    display: none;
    

}

.team-block__name.description-opened + .team-block__description {
    display: block;
}

.team-block__description-job {
    text-align: center;
    margin-bottom: 6px;
    font-size: rem(18px);
    line-height: 1.2;
}



.team-block__description-about {
    text-align: center;
    font-size: rem(18px);
    font-family: "Alegreya Sans Light";
    color: rgb(102, 102, 102);
    line-height: 1.2;
}

