

.upper-block {
    background: url('../img/choccolates.png') left 94% center no-repeat,
    url('../img/фон.png') center right no-repeat;
    background-color: #61C4D9;

    &:before {
        content: url('../img/leaf1.png');
        position: absolute;
        bottom: rem(-50px);
        left: 2%;
    }

    &:after {
        content: url('../img/hero.png');
        position: absolute;
        bottom: rem(-50px);
        right: 2%;
    }

}

.upper-block__container {
    justify-content: space-between;
    align-items: flex-start;
}

.welcome {
    display: flex;
    

}

.welcome__inner {
    display: flex;
    flex-direction: column;
    width: rem(360px);
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;

    
}

.welcome__title {
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: rem(360px);
}

.welcome__text {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-left: 1px;


}

.features-list {
    display: flex;
    margin-bottom: rem(20px);
}

.features-list__item {
    display: flex;
    margin-right: rem(50px);

    &:last-child {
        margin-left: 5px;
    }
}

.features-list__picture {
    width: rem(44px);
    height: rem(41px);
    margin-right: 10px;
}

.feautures-list__icon {
    object-fit: cover;
}

.features-list__text {
    font-size: 16px;
    font-family: "Alegreya Sans";
    color: #ffffff;
    line-height: 1.2;
}


.welcome_button {
    @include button666;
    background-color: white;
    color: $green;

    &:hover {
        background-color: #365a49;
        color: white;
    }
}

.welcome__button-container {
    margin-top: rem(30px);
}
