.whychocco {


    &:before {
        position: absolute;
        content: url('../img/halfleaf.png');
        left: 0;
        bottom: rem(140px);
    }
    
    &:after {
        position: absolute;
        content: url('../img/малина.png');
        left: 0;
        bottom: rem(-110px);
    }
}



.whychocco__title {
    font-size: 48px;
    font-family: "Alegreya Sans";
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;


}

.whychocco__description {
    font-size: 18px;
    font-family: "Alegreya Sans";
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: center;
    text-align: center;
    margin-bottom: rem(50px);

}



.whychocco__reason {
    display: flex;
    justify-content: space-between;
}

.whychocco__reason-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &:before {
        position: absolute;
        content: url('../img/bubbles.png');
        top: 30%;
        right: -27%;
        }

    &:nth-child(2) {
        margin-left: rem(65px);
        margin-right: rem(65px);
    }

    &:last-child {
        &:before {
            display: none;
        }
    }


}

.reason-item__img {
    width: rem(66px);
    height: rem(66px);
}

.reason-item__text {
    font-size: 18px;
    font-family: "Alegreya Sans Light";
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: center;
    margin-top: rem(20px);
}

.reason-item__title {
    font-size: 27px;
    font-family: "Alegreya Sans";
    color: black;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin-top: rem(40px);
    
}

.reason-item__img-cover {
    display: flex;
    height: rem(120px);
    width: rem(120px);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f2f5f4;


}




